@import 'colors.scss';

.center {
    display: flex;
    flex-direction: column;
    gap: 16px;
    justify-content: center;
    align-items: center;
}

.title {
    color: $redColor;
    font-size: 48px;
}

.subTitle {
    color: $blueColor;
    font-size: 32px;
}