@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        @apply scroll-smooth;
        direction: ltr;
    }

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    @font-face {
        font-family: "vazir-bold";
        src: url('../../public/fonts/Vazirmatn-Bold.ttf');
    }

    @font-face {
        font-family: "vazir-light";
        src: url('../../public/fonts/Vazirmatn-Light.ttf');
    }

    @font-face {
        font-family: "vazir-medium";
        src: url('../../public/fonts/Vazirmatn-Medium.ttf');
    }

    body {
        @apply bg-slate-200 dark:bg-slate-900 text-slate-900 dark:text-slate-100;
        font-family: 'vazir-medium', 'vazir-light', 'vazir-bold' !important;
    }

    input[type=number]::-webkit-inner-spin-button,
    input[type=number]::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
  
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
  
    input[type=number] {
      -moz-appearance: textfield;
    }
}

@layer components {
    .blobImage {
        animation: blob 4s ease-in infinite;
    }

    @keyframes blob {
        0% {
            border-radius: 25% 15% 25% 75% / 13% 47% 13% 52%;
        }
        25% {
            border-radius: 25% 25% 25% 25% / 18% 11% 25% 14%;
        }
        50% {
            border-radius: 25% 25% 25% 75% / 48% 47% 13% 14%;
            }
        100% {
            border-radius: 25% 15% 25% 75% / 13% 47% 13% 52%;
        }
    }
}