@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        @apply scroll-smooth;
        direction: ltr;
    }

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    @font-face {
        font-family: "vazir-bold";
        src: url('../../public/fonts/Vazirmatn-Bold.ttf');
    }

    @font-face {
        font-family: "vazir-light";
        src: url('../../public/fonts/Vazirmatn-Light.ttf');
    }

    @font-face {
        font-family: "vazir-medium";
        src: url('../../public/fonts/Vazirmatn-Medium.ttf');
    }

    body {
        @apply bg-slate-200 dark:bg-slate-900 text-slate-900 dark:text-slate-100;
        font-family: 'vazir-medium', 'vazir-light', 'vazir-bold' !important;
    }

    input[type=number]::-webkit-inner-spin-button,
    input[type=number]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    input[type=number] {
        -moz-appearance: textfield;
    }


    /* Custom styles for range input */
    input[type="range"] {
        @apply h-2 bg-red-400 hover:bg-red-500 transition-all rounded-md opacity-90 hover:opacity-100 outline-none;
        -webkit-appearance: none;
    }

    input[type="range"]::-webkit-slider-thumb {
        @apply bg-indigo-600 hover:bg-indigo-700 size-5 rounded-full cursor-pointer transition-all;
        -webkit-appearance: none;
    }

    input[type="range"]::-moz-range-thumb {
        @apply bg-indigo-600 hover:bg-indigo-700 size-5 rounded-full cursor-pointer transition-all;
    }
}

@layer components {
    .blobImage {
        animation: blob 4s ease-in infinite;
    }

    @keyframes blob {
        0% {
            border-radius: 25% 15% 25% 75% / 13% 47% 13% 52%;
        }

        25% {
            border-radius: 25% 25% 25% 25% / 18% 11% 25% 14%;
        }

        50% {
            border-radius: 25% 25% 25% 75% / 48% 47% 13% 14%;
        }

        100% {
            border-radius: 25% 15% 25% 75% / 13% 47% 13% 52%;
        }
    }





    .typewriter {
        display: inline-block;
        white-space: pre-wrap;
        border-right: 2px solid currentColor;
        overflow: hidden;
        animation: blink-caret 0.75s step-end infinite;
    }

    @keyframes blink-caret {

        from,
        to {
            border-color: transparent;
        }

        50% {
            border-color: currentColor;
        }
    }
}

.range-panel {
    @apply appearance-none w-full h-5 bg-[#ddd] rounded-lg overflow-hidden;
}

.range-panel::-webkit-slider-thumb {
    -webkit-appearance: none;
    @apply appearance-none hidden size-0;
}

.range-panel-vertical {
    @apply appearance-none size-full bg-[#ddd] rounded-lg overflow-hidden;
}

.range-panel-vertical::-webkit-slider-thumb {
    -webkit-appearance: none;
    @apply appearance-none hidden size-0;
}

@keyframes wave {
    0% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(3deg);
    }

    50% {
        transform: rotate(0deg);
    }

    75% {
        transform: rotate(-3deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

@keyframes shake {
    0% {
        transform: translateX(0px);
        transform: translateY(0px);
    }

    25% {
        transform: translateX(2px);
        transform: translateY(1px);
    }

    50% {
        transform: translateX(2px);
        transform: translateY(1px);
    }

    75% {
        transform: translateX(-2px);
        transform: translateY(-1px);
    }

    100% {
        transform: translateX(0px);
        transform: translateY(0px);
    }
}

.wave-animation {
    animation: wave 2s infinite ease-in-out;
}

.shake-animation {
    animation: shake 3s infinite ease-in;
}

.scrollbar-hide {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
  }
  
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }