@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        @apply scroll-smooth;
        direction: ltr;
    }

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    @font-face {
        font-family: "vazir-bold";
        src: url('../../public/fonts/Vazirmatn-Bold.ttf');
    }

    @font-face {
        font-family: "vazir-light";
        src: url('../../public/fonts/Vazirmatn-Light.ttf');
    }

    @font-face {
        font-family: "vazir-medium";
        src: url('../../public/fonts/Vazirmatn-Medium.ttf');
    }

    body {
        @apply bg-slate-200 dark:bg-slate-900 text-slate-900 dark:text-slate-100;
        font-family: 'vazir-medium', 'vazir-light', 'vazir-bold' !important;
    }

    /* Hide the spinner arrows for number input */
    input[type="number"]::-webkit-inner-spin-button,
    input[type="number"]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    /* Hide the spinner arrows for number input in Firefox */
    input[type="number"] {
        -moz-appearance: textfield;
    }

    .animate-blink {
        animation: blink 1s ease-in-out;
        animation-fill-mode: both;
    }

    @keyframes blink {
        0% {
            opacity: 0
        }

        50% {
            opacity: 0.5
        }

        100% {
            opacity: 1
        }
    }

    textarea {
        resize: none;
    }

    /* Chrome, Safari, Edge, Opera */
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    select {
        outline: 0px;
        appearance: none;
        /* Remove default arrow */
        -webkit-appearance: none;
        /* Remove default arrow for WebKit browsers */
        -moz-appearance: none;
        /* Remove default arrow for Firefox */
        background: url('/arrow-down.svg') no-repeat left 10px center;
        background-color: white;
    }

    /* Firefox */
    input[type="number"] {
        -moz-appearance: textfield;
    }

    .border-custom {
        border-image: linear-gradient(to right, #3acfd5 0%, #3a4ed5 100%) 1;
        border-width: 4px;
        border-style: solid;
        padding: 5px;
    }

    .scrollbar-hide {
        -ms-overflow-style: none;
        /* IE and Edge */
        scrollbar-width: none;
    }

    .scrollbar-hide::-webkit-scrollbar {
        display: none;
    }
}

@layer components {
    .skeleton {
        background: linear-gradient(90deg, #e0e0e0 25%, #f0f0f0 50%, #e0e0e0 75%);
        background-size: 200% 100%;
        animation: shimmer 3s infinite ease-in-out;
    }

    @keyframes shimmer {
        0% {
            background-position: -200% 0;
        }

        100% {
            background-position: 200% 0;
        }
    }
}