@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        @apply scroll-smooth;
        direction: ltr;
    }

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    @font-face {
        font-family: "vazir-bold";
        src: url('../../public/fonts/Vazirmatn-Bold.ttf');
    }

    @font-face {
        font-family: "vazir-light";
        src: url('../../public/fonts/Vazirmatn-Light.ttf');
    }

    @font-face {
        font-family: "vazir-medium";
        src: url('../../public/fonts/Vazirmatn-Medium.ttf');
    }

    body {
        @apply bg-slate-200 dark:bg-slate-900 text-slate-900 dark:text-slate-100;
        font-family: 'vazir-medium', 'vazir-light', 'vazir-bold' !important;
    }

    /* Hide the spinner arrows for number input */
    input[type="number"]::-webkit-inner-spin-button,
    input[type="number"]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    /* Hide the spinner arrows for number input in Firefox */
    input[type="number"] {
        -moz-appearance: textfield;
    }

    .animate-blink {
        animation: blink 1s ease-in-out;
        animation-fill-mode: both;
    }

    @keyframes blink {
        0% {
            opacity: 0
        }

        50% {
            opacity: 0.5
        }

        100% {
            opacity: 1
        }
    }
}