@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        @apply scroll-smooth;
        direction: ltr;
    }

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    @font-face {
        font-family: "vazir-bold";
        src: url('../../public/fonts/Vazirmatn-Bold.ttf');
    }

    @font-face {
        font-family: "vazir-light";
        src: url('../../public/fonts/Vazirmatn-Light.ttf');
    }

    @font-face {
        font-family: "vazir-medium";
        src: url('../../public/fonts/Vazirmatn-Medium.ttf');
    }

    body {
        @apply bg-slate-200 dark:bg-slate-900 text-slate-900 dark:text-slate-100;
        font-family: 'vazir-medium', 'vazir-light', 'vazir-bold' !important;
    }
}